=render 'layouts/header'
- if admin?
	.admin
		.create_event
			= semantic_form_for @new_event, url: 'event/create', remote: true do |f|
				= f.inputs
				= f.actions :submit
		.current_events
			- @events.each do |event|
				= event.title
				= link_to 'Delete', event_path(event), :confirm => 'Are you sure?', :method => :delete
				%br
- else
	.sorry
		Sorry but you have to be an admin to veiw this page. 
		%br
		If you have admin rights, 
		%a{"href" => "/admin"}
			click here to login.