= render 'layouts/header'
= render 'layouts/nav'
.container
	.banner
	.first
		.screen
		.overlay
		.content
			.head
				%h1
					Our Mission
				.mission
					It is common knowledge musicians make substantially less money as compared to the businesses that profit from their music. When musicians first start out, they have very little bargaining power. They are the targets of bad contracts, which sometimes follow them their whole careers. We want Musicians to receive their fair share of the profits from their music.
					%a{'href' => '/members'}
						.member
							Become A Member
			.g_head
				%h1
					Our Goals
				.goals
					%ul.tabs
						%a{:href => "#tab1"} 
							%li Empower
						%a{:href => "#tab2"} 
							%li Educate
						%a{:href => "#tab3"}
							%li Impact
					#tab1
						%p Knowledge is power. Use this site to learn about Musician Rights.
					#tab2
						%p Agree to the Musician Rights Memo or the Music Lover's Statement of Support to create a new standard of doing business in the music industry.
					#tab3
						%p Together we can be apart of any action or debate which would effect musicians.
	.second
		.memo_one
			.memo
				.banner
					Musician Rights Memo
			%a{:href => "/"}
				.memo_box
					%br
					%br
					%i.icon-headphones
					%p Learn your Rights
		.memo_two
			.memo
				.banner
					Statement of Support
			%a{:href => "/"}
				.memo_box
					%br
					%br
					%i.icon-file-text-alt
					%p Support the Movement
	.third
		.section_one
			.banner
				Upcoming Events
			.box
				.events
					.text
						-@events.each do |event|
							.event
								.title
									=event.title
								-if event.date
									.date
										- date = event.date
										= date.inspect
										<span class='time'> #{event.time} </span>
								.details
									Event Details:
									.dts
										=event.details
								.location
									=event.location
								%a{"href" => event.button_url}
									.join
										Join Event

		.section_two
			.banner
				Follow Us on Twitter
			.box
				.twitter
					=render 'pages/twitter'
		.section_three
			.banner
				Like Us on Facebook
			.box
				.facebook
					=render 'pages/facebook'
.new_user
	= semantic_form_for @user, remote: true do |f|
		= f.inputs
		= f.action :submit, label: "Sign Up"


