= render 'layouts/header'
.top_copy.expand
	.spacing
		.text
			%h1
				We stand for our members
			%p
				It is common knowledge musicians make substantially less money as compared to the businesses that profit from their music. When musicians first start out, they have very little bargaining power. They are the targets of bad contracts, which sometimes follow them their whole careers. We want Musicians to receive their fair share of the profits from their music.
			%h3
				Memebership
			.meme_content	
				.mem_info
					Musicians become members by accepting the Musician Rights memo.
					%br
					%i.icon-circle-arrow-down
				.mem_info.r_second_copy
					Music lover's become members by accepting the Statement of support.
					%br
					%i.icon-circle-arrow-down
		.counter.r_counter
			.count_bx
				.copy
					Total Members
				.count
					=@count
.third
	.lovers
		= render 'pages/lovers'
		.memo_bx
			.top
				%h1
					Musician Rights Memo
				.body
					%div
						I am joining this movement because I believe that if everyone unites to support the Musician Rights Memo, we will create a new standard in the music industry where MUSICIAN'S COME FIRST!
					%h3
						Definitions:
					%ul
						%li
							<span id="def">Music</span> - A recognizable sound
						%li
							<span id="def">Musician</span> - Anyone who creates a recognizable sound
						%li
							<span id="def">Rights</span> - Inherent entitlement 
						%li
							<span id="def">Musician Rights</span> –  The Right to own and maintain control of one’s Music.  
							%ul
								%li
									The Right to own and control Copyright. 
								%li
									The Right to own and control Master recording.
								%li
									The Right to own and control Publishing.

					%h3
						The Memo
					%ul
						%li
							I agree to the following:
						%ul
							%li
								I will not contract away my Musician Rights at a percentage greater than what I receive. 
							%li
								I will never give more than half of my rights away. 
							%li
								I will only engage opportunities for my music that respects my rights.
							%li
								I WILL NEVER RELINQUISH MY MUSICIAN RIGHTS!
	.signup.r_signup_box
		.join.r_header2
			Join The Movement
		.errors
		.messages
			Thank you for signing up!
		= semantic_form_for @new_user, url: users_path, remote: true do |f|
			= f.input :first_name
			= f.input :last_name
			= f.input :email
			= f.input :zipcode, as: :string
			= f.input :band
			= f.input :opt_out, label: "Exclude your name from being posted on our website"
			= f.action :submit, label: "Next"
	.base	
		.section_one.mem_list
			.box
				.top
					Members
				.copy
					We are building a movement of engaged artists and supporters standing up for musician rights.
					%br
					Here are some of our members
				.events
					.text
						-@users.each do |user|
							.mem_event
								.count
									Member since:
									%br
									=user.created_at.strftime("%b, %Y")
								.first
									=user.first_name
								.last
									=user.last_name
								.band
									- if user.band != ""
										Band: 
										=user.band
		.perk_box
			%h2
				Sweeten The Deal
			.perk
				%p contribute
				%i.icon-usd
				<span id="num">10</span>
				%p 
					You recognize the need for an aggressive Musician Rights Movement. Your donation to MusicianRights.org, will get you an awesome Logo Sticker!
				%form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
					%input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
					%input{:name => "hosted_button_id", :type => "hidden", :value => "XMJPLWPRB3JEC"}/
					%input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image"}/
			.perk
				%p contribute
				%i.icon-usd
				<span id="num">50</span>
				%p 
					You recognize the need for an aggressive Musician Rights Movement. Your donation to MusicianRights.org, will get you an awesome Logo T-shirt!
				%form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
					%input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
					%input{:name => "hosted_button_id", :type => "hidden", :value => "XMJPLWPRB3JEC"}/
					%input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image"}/
				
	.user_type
		= @type
	=render 'pages/memo'
	.lovers_popup
		=render 'pages/lovers'
	=render 'pages/pick'