= render 'layouts/header'
.top_copy
	.spacing
		.text
			%h1
				We stand for our members
			%p
				It is common knowledge musicians make substantially less money as compared to the businesses that profit from their music. When musicians first start out, they have very little bargaining power. They are the targets of bad contracts, which sometimes follow them their whole careers. We want Musicians to receive their fair share of the profits from their music.
		.counter
			.count_bx
				.copy
					Total Members
				.count
					=@count
.third
	.lovers
		= render 'pages/lovers'
	.signup
		.join
			Join The Movement
		.errors
		.messages
			Thank you for signing up!
		= semantic_form_for @new_user, url: users_path, remote: true do |f|
			= f.input :first_name
			= f.input :last_name
			= f.input :email
			= f.input :zipcode, as: :string
			= f.input :band
			= f.input :opt_out, label: "Exclude your name from being posted on our website"
			= f.action :submit, label: "Next"
	.section_one.mem_list
		.banner
			Members
		.box
			.events
				.text
					-@users.each do |user|
						.mem_event
							.title
								=user.id
								\-
								=user.first_name
								=user.last_name
							.band
								- if user.band != ""
									Band: 
									=user.band
	.use_logo
		.top
			%h3
				Share with the World
			.copy
				%p 
					Click to Download 
					%br
					the Musician Rights Logo 
				%form{:action => "file.doc", :method => "get"}
				%button{:type => "submit"} 
					=image_tag 'logo_three.png'
				%p 
					to Include on 
					%br
					Your Personal Site
	.perk_box
		%h2
			Sweeten The Deal
		.perk
			%p contribute
			%i.icon-usd
			<span id="num">10</span>
			%p 
				You recognize the need for an aggressive Musician Rights Movement. Your donation to MusicianRights.org, will get you an awesome Logo Sticker!
		.perk
			%p contribute
			%i.icon-usd
			<span id="num">50</span>
			%p 
				You recognize the need for an aggressive Musician Rights Movement. Your donation to MusicianRights.org, will get you an awesome Logo T-shirt!

				

	=render 'pages/memo'