= render 'layouts/header'
.third
	.top_copy
		It is common knowledge musicians make substantially less money as compared to the businesses that profit from their music.When musicians first start out, they have very little bargaining power. They are the targets of bad contracts, which sometimes follow them their whole careers. We want Musicians to receive their fair share of the profits from their music.

	.section_one
		.banner
			Members
		.box
			.events
				.text
					-@users.each do |user|
						.mem_event
							.title
								=user.id
								\-
								=user.first_name
								=user.last_name
							.band
								- if user.band != ""
									Band: 
									=user.band
	.signup
		.errors
		.messages
			Thank you for signing up!
		= semantic_form_for @new_user, url: users_path, remote: true do |f|
			= f.input :first_name
			= f.input :last_name
			= f.input :email
			= f.input :zipcode, as: :string
			= f.input :band
			= f.input :opt_out, label: "Exclude your name from being posted on our website"
			= f.action :submit, label: "Next"

=render 'pages/memo'