<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
	<title>MusicianRights</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<style type="text/css">
	@-moz-document url-prefix() {
		h1 {
		}
	}
	</style>
	<script src="http://malsup.github.com/jquery.form.js"></script>
</head>
<body>
	<%= yield %>
	<%= render 'layouts/footer' %>
</body>
</html>

